<!-- NOTE: This is the ejs template for creating a new listing. It contains fields for entering the various details mandatory for listing a property like title, description and price via a form. It sends a POST request to add the listing to the database -->

<% layout('/layouts/boilerplate') -%> <!-- templating done with the help of ejs-mate -->
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
    <h3>Create a New Listing: </h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" placeholder="Add a catchy title" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid title!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a valid description!</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="image" placeholder="Enter the image URL/link" type="text" class="form-control">
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="price" placeholder="Enter the price" type="number" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid price!</div>
            </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="country" placeholder="Enter the country" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid country!</div>
        </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="location" placeholder="Enter the location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid location!</div>
        </div>
        
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>  
</div>
</body>
