/* NAVBAR STYLING */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;  
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* FOOTER STYLING */
.f-info-links {
    width: 100%;
}

.f-info-links a{
    color: #222222 !important;
    text-decoration: none;
}

.f-info-socials{
    width: 100%;
}

.f-info-socials i{
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* CARDS STYLING */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    object-fit: cover !important;
    width: 100% !important;
}

.card-body {
    padding: 0;
}

.listing-link{
    text-decoration: none;
}

/* CARD HOVER EFFECT */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn, .edit-btn{
    background-color: #fe424d;
    color: white;

    border: none !important;
}

/* show image styling*/
.show-img {
    height: 50vh;
}

a {
    text-decoration: none;
    display: inline-block !important;
}

.row {
    margin-top: 2rem;
}
